// Fonts 
$default-font: 'Satoshi', sans-serif;
$heading-font: 'Cabinet Grotesk', sans-serif;

// Global Colors 
$default-color: #4D4D4D;
$background-color: #fff;
$heading-color: #0D2E1B;
$accent-color: #B6EC2E;
$surface-color: #EEFAF1;
$darkgreen-color: #0A4020;
$green-color: #18A23F;
$leafgreen-color: #92F564;
$lemon-green: #C2EF52;

// General Styling
body {
    color: $default-color;
    background-color: $background-color;
    font-family: $default-font;
}
  
a {
    color: $accent-color;
    text-decoration: none;
    transition: 0.3s;
}
  
a:hover {
    color: $leafgreen-color;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-family: $heading-font;
}

.btn-getstarted {
    color: #fff !important;
    font-size: 16px;
    font-weight: 700;
    background-color: $darkgreen-color;
    padding: 10px 28px;
    border-radius: 6px;

    &:hover {
        background-color: lighten($darkgreen-color, 5%);
    }
}

.section-title {
    text-align: center;
    padding-bottom: 60px;

    h2 {
        font-size: 54px;
    }

    p {
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
        line-height: 1.5rem;
    }

    @media (max-width: 991.98px) {
        h2 {
            font-size: 42px;
        }
        p {
            font-size: 18px;
        }
    }

    @media (max-width: 767.98px) {
        h2 {
            font-size: 32px;
        }
        p {
            font-size: 16px;
        }
    }
}

// Header
.header {
    background-color: $background-color;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
}

.scrolled header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

// Desktop Navigation
@media (min-width: 1200px) {
    .site-navbar {
        display: flex;
        .site-navigation {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            li {
                list-style: none;
                margin: 0 20px;

                a {
                    font-size: 16px;
                    color: #363636;
                    font-weight: 500;
                    position: relative;

                    &:hover::before {
                        visibility: visible;
                        width: 100%;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        height: 2px;
                        bottom: -6px;
                        left: 0;
                        background-color: $accent-color;
                        visibility: hidden;
                        width: 0;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        

        .site-menu {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                list-style: none;
                margin: 0 10px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    color: #0A4020;

                    span {
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    .login-icon {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        
        }

        .has-children {
            position: relative;

            .toggle-dropdown {
                width: 20px;
                height: 20px;
            }

            > .dropdown {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                top: 100%;
                padding: 0;
                border-top: 2px solid #B6EC2E;
                background: #FFF;
                margin-top: 5px;
                padding: 5px;
                transition: 0.2s ease;

                > li {
                    min-width: 110px;
                    padding-left: 25px;
                    margin: 5px 0;

                    a {
                        display: block;
                    }
                }
            }

            &:hover .dropdown{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    
}

// Mobile Navigation
@media (max-width: 1199.98px) {
   .site-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    transform: translateX(110%);
    padding: 40px 30px 20px 30px;
    background-color: #fff;
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 2000;
    transition: 0.3s all ease;

    .site-navigation {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 12px 0;

            a {
                display: flex;
                align-items: center;
                font-size: 16px;
                color: #0A4020;

                span {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }

    .site-menu {
        margin: 40px 0 0 0;
        padding: 0;

        li {
            list-style: none;
            padding: 12px 0;

            a {
                display: flex;
                align-items: center;
                font-size: 16px;
                color: #0A4020;

                span {
                    margin-left: 10px;
                    margin-right: 10px;
                }

                .login-icon {
                    width: 18px;
                    height: 18px;
                }
            }
            a.btn-getstarted {
                display: inline-block;
            }
        }
    }

    .toggle-dropdown {
        width: 22px;
        height: 22px;
    }

    .dropdown {
        display: none;
        margin-top: 5px;
        margin-left: 10px;

        li {
            padding: 8px 0;
        }
    }
    .dropdown-active {
        display: block;
    }
   }
   .menu-toggle {
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
    }

    .close-icon {
        display: none;
    }
   }

   .mobile-nav-active {
    .site-navbar {
        transform: translateX(0%);
    }
    .menu-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 9999;

        .hamburger-icon {
            display: none;
        }
        .close-icon {
            display: block;
            width: 40px;
            height: 40px;
        }
    }
   }
}

// Hero Section
#hero {
    padding-top: 85px;
    color: #fff;
    min-height: 100vh;
    text-align: center;
    background-image: url('../img/hero_bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 85px);
        span {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    
        .hero-title {
            color: #fff;
            font-size: 52px;
            margin-top: 40px;
            margin-bottom: 15px;
            font-weight: 700;
        }
    
        .btn-getstarted {
            color: #154B2C !important;
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            margin-top: 40px;
            border: 1px solid #92F564;
            background: #B6EC2E;

            &:hover {
                border: 1px solid #92F564;
                background: darken(#B6EC2E, 10%);
            }
        }
    }

    @media (max-width: 767.98px){
        .hero-content {
            .hero-title {
                font-size: 40px;
            }
        }
    }

    @media (max-width: 575.98px){
        .hero-content {
            .hero-title {
                font-size: 32px;
            }
        }
    }
}

// Intro Slider
.intro {
    padding: 80px 0;

    .intro-card {
        display: flex;
        padding: 48px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        border-radius: 12px;
        border: 1px solid #D7F4DF;
        background: #EEFAF1;
        text-align: center;
        min-height: 325px;

        .card-icon {
            background-color: #fff;
            border-radius: 12px;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 30px;
                height: auto;
            }
        }
        .card-title h3{
            margin-bottom: 0;
        }
        .card-desc p {
            margin-bottom: 0;
        }
    }

    .swiper-pagination {
        margin-top: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-pagination-bullet {
            height: 12px;
            width: 12px;
            background-color: #6c8777;
        }

        .swiper-pagination-bullet-active {
            height: 18px;
            width: 18px;
            background-color: #B6EC2E;
        }
    }

    @media (min-width: 992px){
        .swiper-pagination {
            margin-top: 70px;
        }
        .swiper-slide-next {
            transform: translateY(40px);
            transition: all 0.3s ease;
        }
    }
}


.features {
    padding: 80px 0;

    .features-wrapper {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(150px, auto);
        .feature-item {
            overflow: hidden;
            position: relative;
            border-radius: 24px;

            .feature-title {
                font-size: 28px;
                font-weight: 700;
                line-height: 28px;
                margin-bottom: 0;
            }

            .feature-text {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0;
            }

            &:nth-of-type(1) { 
                background: #E7F2AE;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;

                .feature-content {
                    padding: 40px 40px 10px 40px;

                    .feature-sub-title {
                        display: inline-block;
                        margin-bottom: 20px;
                        padding: 5px 20px;
                        color: #878787;
                        font-size: 16px;
                        font-weight: 500;
                        border-radius: 6px;
                        border: 1px solid #84CC16;
                        background: #DFF1C2;
                    }
    
                    .feature-title {
                        margin-bottom: 20px;
                        color: #4D5B00;
                        font-size: 40px;
                        font-weight: 500;
                        line-height: 40px;
                    }
    
                    .feature-text {
                        color: #686868;
                    }
                }

                .feature-img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
    
            &:nth-of-type(2) { //Feature Item2
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: minmax(150px, auto);
                gap: 20px;

                .feature-sub-item {
                    padding: 25px;
                    border-radius: 24px;

                    &:nth-of-type(1) {
                        display: flex;
                        justify-content: space-between;
                        background: #448260;

                        .feature-title {
                                color: #FFF;
                        }
            
                        .feature-img {
                            #hand-spark *{
                                transform-box: fill-box;
                            }
                        }
                        &:hover #hand-spark {
                            animation-name: rotateHand;
                            animation-duration: 1.5s;
                            transform-origin: bottom center;
                            animation-iteration-count: infinite;
                            .spark {
                                animation-name: fadeOutSpark;
                                animation-duration: 1.5s;
                                animation-iteration-count: infinite;
                            }
                        }
                       
                        @keyframes rotateHand {
                            0% {
                                transform: rotate(0deg);
                            }
                            25% {
                                transform: rotate(-30deg);
                            }
                            50% {
                                transform: rotate(-30deg);
                            }
                            75%{
                                transform: rotate(0deg);
                            }
                            100%{
                                transform: rotate(0deg);
                            }
                        }

                        @keyframes fadeOutSpark {
                            0% {
                                opacity: 1;
                            }
                            25% {
                                opacity: 0;
                            }
                            50% {
                                opacity: 0;
                            }
                            75%{
                                opacity: 1;
                            }
                            100%{
                                opacity: 1;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        background: #1B7A84;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 20px;

                        .feature-title {
                            color: #FFF;
                            transition: all .3s ease;
                        }

                        .feature-img {
                            position: relative;
                            margin-bottom: -30px;
                            .arrow {
                                position: absolute;
                                right: 0;
                                transform: translate(0, -50px);
                                transition: all .3s ease;
                            }
                            .chart {
                                rect {
                                    transition: all .3s ease;
                                }
                            }

                        }

                        &:hover {
                            .feature-title {
                                transform: translateY(-10px);
                            }
                            .feature-img {
                                .arrow {
                                    transform: translate(-30px, 0);
                                }
                                .chart {
                                    rect {
                                        &:nth-child(1),
                                        &:nth-child(3),
                                        &:nth-child(5) {
                                            transform: translateY(-10px);
                                        }
                                        &:nth-child(2), 
                                        &:nth-child(4) {
                                            transform: translateY(10px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            &:nth-of-type(3) {
                padding: 25px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                justify-content: space-between;
                background: #D1DDF2;

                .feature-content {
                    .feature-title {
                        color: #09441F;
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
    
                    .feature-text {
                        color: #363636;
                        font-size: 15px;
                    }
                }

                .feature-img {
                    svg {
                         transition: all 1s ease;
                    }
                }

                &:hover {
                    .feature-img {
                        svg {
                            transform: translateX(-61%);
                        }
                    }
                }
            }
    
            &:nth-of-type(4) {
                padding: 25px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                justify-content: space-between;
                background: #D7F4DF;

                .feature-content {
                    .feature-title {
                        color: #09441F;
                        margin-bottom: 10px;
                    }
    
                    .feature-text {
                        color: #363636;
                    }
                }

                .feature-img {
                    display: flex;
                    height: 150px;
                    justify-content: space-between;
                    align-items: center;

                    svg {
                        &:nth-child(1) {
                            margin-top: -60px;
                            transition: all .3s ease;
                        }
    
                        &:nth-child(2) {
                            transition: all .3s ease;
                        }
    
                        &:nth-child(3) {
                            margin-bottom: -60px;
                            transition: all .3s ease;
                        }
                    }
                }

                &:hover {
                    svg {
                        &:nth-child(1) {
                            transform: translate(-40px, -50px) rotate(-20deg);
                        }
    
                        &:nth-child(2) {
                            transform: scale(1.3) translateY(-10px) rotate(20deg);
                        }
    
                        &:nth-child(3) {
                            transform: translate(40px, 0px) rotate(-20deg);
                        }
                    }
                }
            }
    
            &:nth-of-type(5) {
                padding: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                background: #3B5B85;

                .feature-content {
                    .feature-title {
                        color: #FFF;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
    
                    .feature-text {
                        color: #FFF;
                    }
                }

                .feature-img {
    
                    svg {
                        margin-right: -30px;
                        margin-bottom: -30px;
                        transform: scale(0.9);
                        border-radius: 12px;
                        .item-1,
                        .item-2,
                        .item-3{
                            transition: all .5s ease;
                        }
                        .item-1{
                            z-index: 1;
                        }
                        .item-2{
                            z-index: 2;
                        }
                        .item-3{
                            z-index: 3;
                        }
                    }
                }

                &:hover {
                    .feature-img {
                        svg {
                            .item-1{
                                z-index: 3;
                                transform: translateY(54px);
                            }
                            .item-2{
                                z-index: 2;
                                transform: translateY(54px);
                            }
                            .item-3{
                                z-index: 1;
                                transform: translateY(-120px);
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        .features-wrapper {
            grid-template-columns: 1.5fr 1fr 1fr;
            grid-template-rows: minmax(150px, 1fr) minmax(150px,0.8fr);
            // grid-template-rows: repeat(2, minmax(150px, 1fr));
    
            .feature-item {
                &:nth-of-type(1) {
                    grid-column: 1/2;
                    grid-row: 1/3;
                }
        
                &:nth-of-type(2) {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
        
                &:nth-of-type(3) {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
        
                &:nth-of-type(4) {
                    grid-column: 3/4;
                    grid-row: 1/2;
                }
        
                &:nth-of-type(5) {
                    grid-column: 3/4;
                    grid-row: 2/3;

                    .feature-img {
        
                        img {
                            margin-right: -42px;
                            margin-bottom: -41px;
                            transform: scale(0.9);
                        }
                    }
                }
            }
        }
    }
}

// Services Section
.services {
    padding: 80px 0;
    background-color: #c5d2c81f;

    .custom-height {
        height: 100%;
    }

    .service-item {
        cursor: pointer;
        background: #fff;
        border-radius: 12px;
        border: 1px solid #E6FBB8;
        padding: 40px;
        height: 100%;
        transition: 0.3s ease-in-out;

        .service-icon {
            padding-bottom: 20px;
            img {
                height: 40px;
                width: 40px;
            }
        }

        .service-title {
            font-size: 24px;
            font-weight: 500;
        }

        &:hover {
            box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
        }
    }
}

// FAQ Section
.faq {
    padding: 80px 0;

    .section-title {
        text-align: left;
        padding-bottom: 20px;

        h2 {
            font-size: 52px;
        }

        p {
            width: 100%;
            font-size: 16px;
        }
    }

    .featured-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .faq-container {
        .faq-item {
            position: relative;
            margin-bottom: 20px;

            h3 {
                cursor: pointer;
                padding: 22px 50px 22px 30px;
                background: #FAFAFA;
                border-radius: 5px;
                font-size: 16px;
                color: #6B7280;
                font-weight: 400;
                margin-bottom: 0;
            }

            .faq-content {
                display: grid;
                grid-template-rows: 0fr;
                transition: 0.3s ease-in-out;
                visibility: hidden;
                opacity: 0;
                text-align: justify;
                padding: 10px 40px;
                background: #FFF;
                
                p {
                    margin-bottom: 0;
                    overflow: hidden;
                }
            }
    
            .faq-toggle {
                cursor: pointer;
                position: absolute;
                right: 30px;
                top: 20px;
                width: 20px;
                height: 20px;
                transition: 0.3s ease;
            }
        }
        .faq-item:last-child {
            margin-bottom: 0;
        }
        .faq-active {
            h3 {
                background: #C2EF52;
                border: 1px solid #313131;
                color: #313131;
            }

            .faq-content {
                grid-template-rows: 1fr;
                visibility: visible;
                opacity: 1;
            }

            .faq-toggle {
                transform: rotate(-180deg);
            }
        }
    }

    @media (max-width: 991.98px) {
        .section-title {
            h2 {
                font-size: 42px;
            }
        }
        
    }

    @media (max-width: 767.98px) {
        .section-title {
            h2 {
                font-size: 32px;
            }
        }

        .faq-container {
            .faq-item {
                .faq-toggle {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        
    }
}

// CTA Section
.cta {
    position: relative;
    padding: 120px 0;
    border-radius: 12px;
    background-color: #F8FDEA;
    text-align: center;
    overflow: hidden;

    .ellipse-sm {
        height: 640px;
        width: 640px;
        border: 1px solid #138232;
        opacity: 0.2;
        filter: blur(2px);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ellipse-bg {
        height: 930px;
        width: 930px;
        border: 1px solid #138232;
        opacity: 0.2;
        filter: blur(2px);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        
    }
    .img-1, .img-2, .img-3, .img-4 {
        position: absolute;
    }
    .img-1 {
        left: 0;
        top: 10px;
    }

    .img-2 {
        left: 40px;
        bottom: 0;
    }

    .img-3 {
        right: 40px;
        bottom: 0;
    }

    .img-4 {
        right: 0;
        top: 40px;
    }
    .cta-content {
        position: relative;
        .cta-title {
            h2 {
                font-size: 52px;
                font-weight: 700;
                line-height: 56px;
            }
        }
    
        .btn-cta {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            background: #18A23F;
            box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
            font-weight: 500;
            margin-top: 30px;
            padding: 10px 20px;

            &:hover {
                background: darken(#18A23F, 5%);
            }
        }
    }

    @media (max-width: 991.98px) {
        .cta-content {
            .cta-title {
                h2 {
                    font-size: 42px;
                    line-height: 46px;
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        .ellipse-sm, .ellipse-lg, .img-2, .img-3 {
            display: none;
        }

        .img-1 {
            top: -50px;
            left: -20px;
        }

        .img-4 {
            top: 80%;
            right: 0;
        }

        .cta-content {
            .cta-title {
                h2 {
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            .btn-cta {
                margin-top: 20px;
            }
        }
    }
}

// Footer Section
footer {
    padding: 80px 0 20px 0;

    .footer-top {
        padding-bottom: 60px;
        .footer-links {
            h4 {
                color: #111827;
                font-size: 16px;
            }

            ul {
                margin: 20px 0 0 0;
                padding: 0;

                li {
                    list-style: none; 
                    margin: 10px 0;

                    a {
                        color: #6B7280;
                        transition: 0.2s ease-in-out;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

    }

    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid #E5E7EB;

        p {
            margin-bottom: 0;
        }
    }

    @media (max-width: 575.98px) {
        .copyright {
            flex-direction: column;
            gap: 10px;
        }    
    }
}