body {
  color: #4D4D4D;
  background-color: #fff;
  font-family: "Satoshi", sans-serif;
}

a {
  color: #B6EC2E;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #92F564;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #0D2E1B;
  font-family: "Cabinet Grotesk", sans-serif;
}

.btn-getstarted {
  color: #fff !important;
  font-size: 16px;
  font-weight: 700;
  background-color: #0A4020;
  padding: 10px 28px;
  border-radius: 6px;
}

.section-title {
  text-align: center;
  padding-bottom: 60px;
}
.section-title h2 {
  font-size: 54px;
}
.section-title p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  line-height: 1.5rem;
}
@media (max-width: 991.98px) {
  .section-title h2 {
    font-size: 42px;
  }
  .section-title p {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .section-title h2 {
    font-size: 32px;
  }
  .section-title p {
    font-size: 16px;
  }
}

.header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
}

.scrolled header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1200px) {
  .site-navbar {
    display: flex;
  }
  .site-navbar .site-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .site-navbar .site-navigation li {
    list-style: none;
    margin: 0 20px;
  }
  .site-navbar .site-navigation li a {
    font-size: 16px;
    color: #363636;
    font-weight: 500;
    position: relative;
  }
  .site-navbar .site-navigation li a:hover::before {
    visibility: visible;
    width: 100%;
  }
  .site-navbar .site-navigation li a::before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #B6EC2E;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out;
  }
  .site-navbar .site-menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .site-navbar .site-menu li {
    list-style: none;
    margin: 0 10px;
  }
  .site-navbar .site-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #0A4020;
  }
  .site-navbar .site-menu li a span {
    margin-left: 10px;
    margin-right: 10px;
  }
  .site-navbar .has-children {
    position: relative;
  }
  .site-navbar .has-children > .dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    padding: 0;
    border-top: 2px solid #B6EC2E;
    background: #FFF;
    margin-top: 5px;
    padding: 5px;
    transition: 0.2s ease;
  }
  .site-navbar .has-children > .dropdown > li {
    min-width: 110px;
    padding-left: 25px;
    margin: 5px 0;
  }
  .site-navbar .has-children > .dropdown > li a {
    display: block;
  }
  .site-navbar .has-children:hover .dropdown {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 1199.98px) {
  .site-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    transform: translateX(110%);
    padding: 40px 30px 20px 30px;
    background-color: #fff;
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 2000;
    transition: 0.3s all ease;
  }
  .site-navbar .site-navigation {
    margin: 0;
    padding: 0;
  }
  .site-navbar .site-navigation li {
    list-style: none;
    padding: 12px 0;
  }
  .site-navbar .site-navigation li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #0A4020;
  }
  .site-navbar .site-navigation li a span {
    margin-left: 10px;
    margin-right: 10px;
  }
  .site-navbar .site-menu {
    margin: 40px 0 0 0;
    padding: 0;
  }
  .site-navbar .site-menu li {
    list-style: none;
    padding: 12px 0;
  }
  .site-navbar .site-menu li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #0A4020;
  }
  .site-navbar .site-menu li a span {
    margin-left: 10px;
    margin-right: 10px;
  }
  .site-navbar .site-menu li a.btn-getstarted {
    display: inline-block;
  }
  .site-navbar .dropdown {
    display: none;
    margin-top: 5px;
    margin-left: 10px;
  }
  .site-navbar .dropdown li {
    padding: 8px 0;
  }
  .site-navbar .dropdown-active {
    display: block;
  }
  .menu-toggle {
    cursor: pointer;
  }
  .menu-toggle img {
    width: 30px;
    height: 30px;
  }
  .menu-toggle .close-icon {
    display: none;
  }
  .mobile-nav-active .site-navbar {
    transform: translateX(0%);
  }
  .mobile-nav-active .menu-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 9999;
  }
  .mobile-nav-active .menu-toggle .hamburger-icon {
    display: none;
  }
  .mobile-nav-active .menu-toggle .close-icon {
    display: block;
    width: 40px;
    height: 40px;
  }
}
#hero {
  padding-top: 85px;
  color: #fff;
  min-height: 100vh;
  text-align: center;
  background-image: url("../img/hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 85px);
}
#hero .hero-content span {
  color: #fff;
  border-bottom: 1px solid #fff;
}
#hero .hero-content .hero-title {
  color: #fff;
  font-size: 52px;
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 700;
}
#hero .hero-content .btn-getstarted {
  color: #154B2C !important;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin-top: 40px;
  border: 1px solid #92F564;
  background: #B6EC2E;
}
@media (max-width: 767.98px) {
  #hero .hero-content .hero-title {
    font-size: 40px;
  }
}
@media (max-width: 575.98px) {
  #hero .hero-content .hero-title {
    font-size: 32px;
  }
}

.intro {
  padding: 80px 0;
}
.intro .intro-card {
  display: flex;
  padding: 48px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid #D7F4DF;
  background: #EEFAF1;
  text-align: center;
  min-height: 325px;
}
.intro .intro-card .card-icon {
  background-color: #fff;
  border-radius: 12px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .intro-card .card-icon img {
  width: 30px;
  height: auto;
}
.intro .intro-card .card-title h3 {
  margin-bottom: 0;
}
.intro .intro-card .card-desc p {
  margin-bottom: 0;
}
.intro .swiper-pagination {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .swiper-pagination .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #6c8777;
}
.intro .swiper-pagination .swiper-pagination-bullet-active {
  height: 18px;
  width: 18px;
  background-color: #B6EC2E;
}
@media (min-width: 992px) {
  .intro .swiper-pagination {
    margin-top: 70px;
  }
  .intro .swiper-slide-next {
    transform: translateY(40px);
    transition: all 0.3s ease;
  }
}

.features {
  padding: 80px 0;
}
.features .features-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
}
.features .features-wrapper .feature-item {
  overflow: hidden;
  position: relative;
  border-radius: 24px;
}
.features .features-wrapper .feature-item .feature-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
}
.features .features-wrapper .feature-item .feature-text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.features .features-wrapper .feature-item:nth-of-type(1) {
  background: #E7F2AE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.features .features-wrapper .feature-item:nth-of-type(1) .feature-content {
  padding: 40px;
}
.features .features-wrapper .feature-item:nth-of-type(1) .feature-content .feature-sub-title {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 20px;
  color: #878787;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #84CC16;
  background: #DFF1C2;
}
.features .features-wrapper .feature-item:nth-of-type(1) .feature-content .feature-title {
  margin-bottom: 20px;
  color: #4D5B00;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}
.features .features-wrapper .feature-item:nth-of-type(1) .feature-content .feature-text {
  color: #686868;
}
.features .features-wrapper .feature-item:nth-of-type(1) .feature-img img {
  transform: scale(1.1);
}
.features .features-wrapper .feature-item:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  background: #448260;
}
.features .features-wrapper .feature-item:nth-of-type(2) .feature-title {
  color: #FFF;
}
.features .features-wrapper .feature-item:nth-of-type(2) .feature-img img {
  height: 100px;
  width: 100px;
}
.features .features-wrapper .feature-item:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  background: #1B7A84;
}
.features .features-wrapper .feature-item:nth-of-type(3) .feature-title {
  color: #FFF;
}
.features .features-wrapper .feature-item:nth-of-type(3) .feature-img {
  display: flex;
  justify-items: end;
}
.features .features-wrapper .feature-item:nth-of-type(3) .feature-img img {
  margin-bottom: -30px;
}
.features .features-wrapper .feature-item:nth-of-type(4) {
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  background: #D1DDF2;
}
.features .features-wrapper .feature-item:nth-of-type(4) .feature-content .feature-title {
  color: #09441F;
  font-size: 22px;
  margin-bottom: 10px;
}
.features .features-wrapper .feature-item:nth-of-type(4) .feature-content .feature-text {
  color: #363636;
  font-size: 15px;
}
.features .features-wrapper .feature-item:nth-of-type(4) .feature-img {
  display: flex;
  justify-content: end;
}
.features .features-wrapper .feature-item:nth-of-type(4) .feature-img img {
  margin-right: -30px;
  transform: scale(1.2);
}
.features .features-wrapper .feature-item:nth-of-type(5) {
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  background: #D7F4DF;
}
.features .features-wrapper .feature-item:nth-of-type(5) .feature-content .feature-title {
  color: #09441F;
  margin-bottom: 10px;
}
.features .features-wrapper .feature-item:nth-of-type(5) .feature-content .feature-text {
  color: #363636;
}
.features .features-wrapper .feature-item:nth-of-type(5) .feature-img {
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}
.features .features-wrapper .feature-item:nth-of-type(5) .feature-img .feature-1, .features .features-wrapper .feature-item:nth-of-type(5) .feature-img .feature-2, .features .features-wrapper .feature-item:nth-of-type(5) .feature-img .feature-3 {
  width: 70px;
  height: 70px;
}
.features .features-wrapper .feature-item:nth-of-type(5) .feature-img .feature-1 {
  margin-top: -60px;
}
.features .features-wrapper .feature-item:nth-of-type(5) .feature-img .feature-3 {
  margin-bottom: -60px;
}
.features .features-wrapper .feature-item:nth-of-type(6) {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  background: #3B5B85;
}
.features .features-wrapper .feature-item:nth-of-type(6) .feature-content .feature-title {
  color: #FFF;
  font-size: 24px;
  margin-bottom: 10px;
}
.features .features-wrapper .feature-item:nth-of-type(6) .feature-content .feature-text {
  color: #FFF;
}
.features .features-wrapper .feature-item:nth-of-type(6) .feature-img {
  display: flex;
  justify-content: end;
}
.features .features-wrapper .feature-item:nth-of-type(6) .feature-img img {
  margin-right: -30px;
  margin-bottom: -30px;
  transform: scale(1);
}
@media (min-width: 992px) {
  .features .features-wrapper {
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: repeat(4, minmax(150px, 1fr));
  }
  .features .features-wrapper .feature-item:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/5;
  }
  .features .features-wrapper .feature-item:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .features .features-wrapper .feature-item:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .features .features-wrapper .feature-item:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .features .features-wrapper .feature-item:nth-of-type(5) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .features .features-wrapper .feature-item:nth-of-type(6) {
    grid-column: 3/4;
    grid-row: 3/5;
  }
  .features .features-wrapper .feature-item:nth-of-type(6) .feature-img img {
    margin-right: -42px;
    margin-bottom: -41px;
    transform: scale(0.9);
  }
}

.services {
  padding: 80px 0;
  background-color: rgba(197, 210, 200, 0.1215686275);
}
.services .custom-height {
  height: 100%;
}
.services .service-item {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #E6FBB8;
  padding: 40px;
  height: 100%;
}
.services .service-item .service-icon {
  padding-bottom: 20px;
}
.services .service-item .service-icon img {
  height: 40px;
  width: 40px;
}
.services .service-item .service-title {
  font-size: 24px;
  font-weight: 500;
}

.faq {
  padding: 80px 0;
}
.faq .section-title {
  text-align: left;
  padding-bottom: 20px;
}
.faq .section-title h2 {
  font-size: 52px;
}
.faq .section-title p {
  width: 100%;
  font-size: 16px;
}
.faq .featured-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq .faq-container .faq-item {
  position: relative;
  margin-bottom: 20px;
}
.faq .faq-container .faq-item h3 {
  cursor: pointer;
  padding: 22px 50px 22px 30px;
  background: #FAFAFA;
  border-radius: 5px;
  font-size: 16px;
  color: #6B7280;
  font-weight: 400;
  margin-bottom: 0;
}
.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  text-align: justify;
  padding: 10px 40px;
  background: #FFF;
}
.faq .faq-container .faq-item .faq-content p {
  margin-bottom: 0;
  overflow: hidden;
}
.faq .faq-container .faq-item .faq-toggle {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
  width: 20px;
  height: 20px;
  transition: 0.3s ease;
}
.faq .faq-container .faq-item:last-child {
  margin-bottom: 0;
}
.faq .faq-container .faq-active h3 {
  background: #C2EF52;
  border: 1px solid #313131;
  color: #313131;
}
.faq .faq-container .faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
}
.faq .faq-container .faq-active .faq-toggle {
  transform: rotate(-180deg);
}
@media (max-width: 991.98px) {
  .faq .section-title h2 {
    font-size: 42px;
  }
}
@media (max-width: 767.98px) {
  .faq .section-title h2 {
    font-size: 32px;
  }
  .faq .faq-container .faq-item .faq-toggle {
    width: 16px;
    height: 16px;
  }
}

.cta {
  position: relative;
  padding: 120px 0;
  border-radius: 12px;
  background-color: #F8FDEA;
  text-align: center;
  overflow: hidden;
}
.cta .ellipse-sm {
  height: 640px;
  width: 640px;
  border: 1px solid #138232;
  opacity: 0.2;
  filter: blur(2px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cta .ellipse-bg {
  height: 930px;
  width: 930px;
  border: 1px solid #138232;
  opacity: 0.2;
  filter: blur(2px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cta .img-1, .cta .img-2, .cta .img-3, .cta .img-4 {
  position: absolute;
}
.cta .img-1 {
  left: 0;
  top: 10px;
}
.cta .img-2 {
  left: 40px;
  bottom: 0;
}
.cta .img-3 {
  right: 40px;
  bottom: 0;
}
.cta .img-4 {
  right: 0;
  top: 40px;
}
.cta .cta-content {
  position: relative;
}
.cta .cta-content .cta-title h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 56px;
}
.cta .cta-content .btn-cta {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #18A23F;
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  font-weight: 500;
  margin-top: 30px;
  padding: 10px 20px;
}
@media (max-width: 991.98px) {
  .cta .cta-content .cta-title h2 {
    font-size: 42px;
    line-height: 46px;
  }
}
@media (max-width: 767.98px) {
  .cta .ellipse-sm, .cta .ellipse-lg, .cta .img-2, .cta .img-3 {
    display: none;
  }
  .cta .img-1 {
    top: -50px;
    left: -20px;
  }
  .cta .img-4 {
    top: 80%;
    right: 0;
  }
  .cta .cta-content .cta-title h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .cta .cta-content .btn-cta {
    margin-top: 20px;
  }
}

footer {
  padding: 80px 0 20px 0;
}
footer .footer-top {
  padding-bottom: 60px;
}
footer .footer-top .footer-links h4 {
  color: #111827;
  font-size: 16px;
}
footer .footer-top .footer-links ul {
  margin: 20px 0 0 0;
  padding: 0;
}
footer .footer-top .footer-links ul li {
  list-style: none;
  margin: 10px 0;
}
footer .footer-top .footer-links ul li a {
  color: #6B7280;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #E5E7EB;
}
footer .copyright p {
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  footer .copyright {
    flex-direction: column;
    gap: 10px;
  }
}/*# sourceMappingURL=main.css.map */